In [1]:
import pandas as pd

# Correlation & Covariance in Pandas

## Correlation

Correlation is a measure of strength of a relationship between two variables.<br>
Correlation takes values between -1 to +1

In [2]:
data = pd.read_csv('data/advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [10]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [13]:
data['TV'].corr(data['Sales'])

0.7822244248616061

In [14]:
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

## Covariance

Covariance also measures the relationship between two variables.<br>

In [16]:
data['TV'].cov(data['Newspaper'])

105.91945226130643

In [17]:
data.cov()

                    TV       Radio   Newspaper       Sales
TV         7370.949893   69.862492  105.919452  350.390195
Radio        69.862492  220.427743  114.496979   44.635688
Newspaper   105.919452  114.496979  474.308326   25.941392
Sales       350.390195   44.635688   25.941392   27.221853