In [1]:
import pandas as pd

# Series in Pandas

Npte: In pandas series is same like array with index by default.

In [15]:
data = pd.Series([10,50,40,55])
data

0    10
1    50
2    40
3    55
dtype: int64

# Extracting values from series

In [12]:
data.values

array([10, 50, 40, 55], dtype=int64)

In [13]:
type(data.values)

numpy.ndarray

# Extracting index from series

In [16]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
data2 = pd.Series([10,50,40,55],index = ['a','b','c','d'])
data2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# Extracing value using index

In [22]:
data2['a']

10

## To Extract more than one value we uses double [ ]

In [24]:
data2[['a','b','c']]

a    10
b    50
c    40
dtype: int64

# Boolean indexing in Series

In [28]:
data[data2 > 40]

b    50
d    55
dtype: int64

# Broadcasting

In [35]:
data2 * 2

a     20
b    100
c     80
d    110
dtype: int64

# We can also create series using dictionary

In [31]:
marks = {'sam':50,'ramesh':40,'rakesh':35}
data3 = pd.Series(marks)
data3

sam       50
ramesh    40
rakesh    35
dtype: int64

In [32]:
data3.index

Index(['sam', 'ramesh', 'rakesh'], dtype='object')

In [33]:
data3.values

array([50, 40, 35], dtype=int64)

# Checking a values is present in index

In [34]:
'sam' in data3.index

True

# Assigning name of index column

In [37]:
data3.index.name = 'names'

In [39]:
data3

names
sam       50
ramesh    40
rakesh    35
dtype: int64